/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* NAVBAR */
header {
    background: #111;
    color: white;
    padding-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav .logo {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* HERO SECTION */
.hero {
    text-align: center;
    margin-top: 60px;
}

.hero h1 {
    font-size: 48px;
}

.hero h1 span {
    color: #ff4d4d;
}

.hero p {
    margin: 10px 0 20px;
    font-size: 18px;
}

.btn {
    padding: 10px 22px;
    background: #ff4d4d;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* ABOUT */
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 10%;
    background: white;
}

.about-text {
    max-width: 500px;
}

.about-text h2 {
    margin-bottom: 15px;
}

.profile-img {
    width: 260px;
    border-radius: 10px;
}

/* PROJECTS */
.projects {
    padding: 60px 10%;
    text-align: center;
}

.project-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000020;
}

/* CONTACT */
.contact {
    padding: 60px 10%;
    background: #fff;
    text-align: center;
}

.contact form {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
    margin-top: 40px;
}
